name: CI # Continuous Integration

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:

jobs:
  rust-library-base:
    uses: init4tech/actions/.github/workflows/rust-library-base.yml@main
